@import "tailwindcss";
@config "../../tailwind.config.js";

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-up {
  animation: fadeUp 0.8s ease-out forwards;
}

@font-face {
  font-family: "BigTitles";
  src: url("/src/assets/fonts/exodus_stripped.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SmallTitles";
  src: url("/src/assets/fonts/exodus.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Text";
  src: url("/src/assets/fonts/old_style.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.input {
  @apply px-4 py-3 rounded-lg bg-zinc-800 focus:outline-none focus:ring-2 focus:ring-blue-600 font-text;
}

.input_password {
  @apply px-4 py-3 rounded-lg bg-zinc-800 focus:outline-none focus:ring-2 focus:ring-blue-600 font-smalltitle;
}

button, a {
    cursor: pointer;
}
